# SPDX-License-Identifier: MIT OR Apache-2.0
# Copyright (c) 2026 Paul Heyse
# Copy to .envrc.local (gitignored) for machine-local overrides. Examples:
# export RUSTC_WRAPPER=""               # disable automatic local compiler cache
# export PSE_NATIVE_CACHE=/path/to/cache  # persistent native preparations
# Native recipes accept only an immutable image id or digest (sha256:<64 hex> or name@sha256:<64 hex>):
# export PSE_SOLVER_IMAGE="$(docker image inspect --format '{{.Id}}' pse-solvers:dev-local)"
# export IPOPT_DIR=/opt/pse-solvers
